body{
    background-color: rgb(117, 96, 63);
    color: antiquewhite;
    font-size: 12pt;
}

h1{
    color: blue;
}

button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(91, 115, 136);
    cursor: pointer;
}